<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

{% extends "bootstrap/base.html" %}

{% block title %}Home Page{% endblock %}
{% block navbar %}
<div class="navbar navbar-light bg-light" role="navigation">
    <a class="navbar-brand" href="/"><strong>DG</strong>
    <strong>PORTFOLIO</strong></a>
    <div class="navbar-contact">
        <span class="glyphicon glyphicon-envelope"></span>
        <strong>
            gibsonlp@live.co.uk
        </strong>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-container">
            <div class="display-4">
                    <h1>
                    Welcome<br> to my <br>portfolio<span> </span>
                    </h1>
            </div>
                <div class="lang-content">
                    <p>Python</p>
                    <p>HTML</p>
                    <p>CSS</p>
                </div>
        </div>
      </div>
    <div class="container">
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/Wallpaper-DL">
                <img class="card-img-top"  alt="Thumbnail [100%x225]" height="150" width="150" src="static/was.png" 
                    data-holder-rendered="true">
                </a>
                <h2><strong>Wallpaper Downloader</strong></h2>
            </div>
                <div class="card-body">
                    <p>Python</p>
                    <p>Requests</p>
                    <p>PyQT5</p>
                 </div>
        </div>
       
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/Indeed-Job-Finder">
                <img class="card-img-top" alt="Thumbnail [100%x225]" height="150" width="150" src="static/jobscraper.png" 
                    data-holder-rendered="true">
                </a>
                <h2><strong>Indeed Job Finder</strong></h2>
                
            </div>
                <div class="card-body">
                    <p>Python</p>
                    <p>Requests</p>
                    <p>Beautiful Soup</p>
                </div>
                  
        </div>
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/Colour-Guessing-Game">
                <img class="card-img-top" alt="Thumbnail [100%x225]" height="150" width="150" src="static/Colour-Guessing-Game.png" 
                data-holder-rendered="true">
                </a>
                <h2><strong>Colour Game</strong></h2>
                
                
               
            </div>
            <div class="card-body">
                <p>Python</p>
                <p>Requests</p>
                <p>Beautiful Soup</p>
            </div>    
            
        </div>
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/Wikipedia-Article-Selector">
                <img class="card-img-top"  alt="Thumbnail [100%x225]" height="150" width="150" src="static/was.png" 
                data-holder-rendered="true">
                </a>
                <h2><strong>Wikipedia Scraper</strong></h2>
                
            </div>
            <div class="card-body">
                <p>Python</p>
                <p>Requests</p>
                <p>Beautiful Soup</p>
            </div>     
        </div>
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/guessing_game">
                <img class="card-img-top" alt="Thumbnail [100%x225]" height="150" width="150" src="static/guessing-game.png" 
                    data-holder-rendered="true">
                </a>
                <h2><strong>Guess the Number</strong></h2>
                
            </div>
            <div class="card-body">
                <p>Python</p>
                <p>Requests</p>
                <p>Beautiful Soup</p>
            </div>    
                  
        </div>
        <div class="col-sm">
            <div class="heading_info">
                <a href="https://github.com/TheCrypticMusic/Weather">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
                    alt="Thumbnail [100%x225]" src="static/weather.png" height="150" width="150"
                    data-holder-rendered="true">
                </a>
                    
                    <h2><strong>Weather</strong></h2>
            </div>
            <div class="card-body">
                <p>Python</p>
                <p>Requests</p>
                <p>Beautiful Soup</p>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
</html> 